<p>Dear {{ user.username }},</p>
<p>Welcome to <b>DTS</b>!</p>
<p>Please process this case: <a href="{{ url_for('main.bug_process', id=id, token=token, _external=True) }}">click here</a>.</p>

<p>{{target.opinion}}</p>

<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('main.bug_process', id=id, token=token, _external=True) }}</p>
<p>Sincerely,</p>
<p>The DTS Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
