<div class="table-responsive">
<div id="toolbar" class="btn-group">
    <button type="button" class="btn btn-default" id="submit" >
        <i class="glyphicon glyphicon-plus">导出</i>
    </button>
    <div class="pull-right search"><input class="form-control" type="text" placeholder="搜索问题单"></div>

</div>
    <table id="table"
           data-toggle="table"
           data-click-to-select="true"
           data-striped="true"
           data-show-columns="true"
           data-toolbar="#toolbar">
       <thead>
          <tr>
             <th data-field="state" data-checkbox="true"><input type="checkbox"></input></th>
             <th>Num.</th>
             <th>BugsID</th>
             <th>产品名称</th>
             <th>产品版本</th>
             <th>软件版本</th>
             <th>问题单描述</th>
             <th>提交人</th>
             <th>问题状态</th>
             <th>当前处理人</th>
             <th>创建时间</th>
          </tr>
       </thead>
       <tbody>
            {% for bugs in bugs_list %}
              <tr>
                <td><input type="checkbox"></input></td>
                <td>{{ loop.index }}</td>
                <td><a href="{{ url_for('main.bug_process', id=bugs.bug_id) }}" target="_blank">{{ bugs.bug_id }}</a></td>
                <td><a href="{{ url_for(request.endpoint, product=bugs.product_name)}}">{{ bugs.product_name }}</a></td>
                <td><a href="{{ url_for(request.endpoint, product=bugs.product_name, version=bugs.product_version) }}">{{ bugs.product_version }}</a></td>
                <td><a href="{{ url_for(request.endpoint, product=bugs.product_name, version=bugs.product_version, software=bugs.software_version) }}">
                    {{ bugs.software_version }}</a></td>
                <td>{{ bugs.bug_title }}</td>
                <td>{{ bugs.author.username }}</td>
                <td>{{ bugs.now_status.bug_status_descrit }}</td>
                <td>{{ bugs.bug_owner.username }}</td>
                <td>{{ moment(bugs.timestamp).fromNow() }}</td>
              </tr>
            {% endfor %}
       </tbody>
    </table>
</div>