<div class="table-responsive">
    <table id="table"
           data-toggle="table"
           data-search="true"
           data-click-to-select="true"
           data-striped="true"
           data-show-columns="true"
           data-toolbar="#toolbar">
       <thead>
          <tr>
             <th data-field="state" data-checkbox="true"><input type="checkbox"></input></th>
             <th>Num.</th>
             <th>BugsID</th>
             <th>产品名称</th>
             <th>产品版本</th>
             <th>软件版本</th>
             <th>问题单描述</th>
             <th>当前状态</th>
             <th>删除</th>
             <th>提交人</th>
             <th>问题状态</th>
             <th>当前处理人</th>
             <th>创建时间</th>
          </tr>
       </thead>
       <tbody>
            {% for bugs in bugs_list %}
              <tr>
                <td><input type="checkbox"></input></td>
                <td>{{ loop.index }}</td>
                <td><a href="{{ url_for('main.bug_process', id=bugs.bug_id) }}" target="_blank">{{ bugs.bug_id }}</a></td>
                <td><a href="{{ url_for(request.endpoint, product=bugs.product_name)}}">{{ bugs.product_name }}</a></td>
                <td><a href="{{ url_for(request.endpoint, product=bugs.product_name, version=bugs.product_version) }}">{{ bugs.product_version }}</a></td>
                <td><a href="{{ url_for(request.endpoint, product=bugs.product_name, version=bugs.product_version, software=bugs.software_version) }}">
                    {{ bugs.software_version }}</a></td>
                <td>{{ bugs.bug_title }}</td>
                <td>
                    {% if bugs.bug_forbidden_status %}
                        <button id="modify" class="btn btn-danger" type="button" name="/mang/set-bug-forbidden/{{ bugs.bug_id }}" value="1">锁定</button>
                    {% else %}
                        <button id="modify" class="btn btn-success" type="button" name="/mang/set-bug-forbidden/{{ bugs.bug_id }}" value="0">正常</button>
                    {% endif %}
                </td>
                <td><button id="delete" class="btn btn-danger" type="button" name="/mang/bug-delete/{{ bugs.bug_id }}">删除</button></td>
                <td>{{ bugs.author.username }}</td>
                <td>{{ bugs.now_status.bug_status_descrit }}</td>
                <td>{{ bugs.bug_owner.username }}</td>
                <td>{{ moment(bugs.timestamp).fromNow() }}</td>
              </tr>
            {% endfor %}
       </tbody>
    </table>
</div>