<div class="table-responsive">

</div>
    <table id="table"
           data-toggle="table"
           data-search="true"
           data-click-to-select="true"
           data-striped="true"
           data-show-columns="true"
           data-toolbar="#toolbar">
       <thead>
          <tr>
             <th>Num.</th>
             <th>用户ID</th>
             <th>用户名称</th>
             <th>用户邮箱</th>
             <th>修改角色</th>
             <th>确认状态</th>
             <th>当前状态</th>
             <th>注册日期</th>
             <th>最后登录</th>
          </tr>
       </thead>
       <tbody>
            {% for user in userlist %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.is_administrator() %}
                        <button id="usermodify" class="btn btn-danger" type="button" name="/mang/user-role-modify/{{ user.id }}" value="default">管理员</button>
                    {% else %}
                        <button id="usermodify" class="btn btn-success" type="button" name="/mang/user-role-modify/{{ user.id }}" value="ADMINISTER">普通用户</button>
                    {% endif %}</td>
                <td>{{ user.confirmed }}</td>
                <td>
                    {% if user.forbidden_status %}
                        <button id="modify" class="btn btn-danger" type="button" name="/mang/set-user-forbidden/{{ user.id }}" value="1">锁定</button>
                    {% else %}
                        <button id="modify" class="btn btn-success" type="button" name="/mang/set-user-forbidden/{{ user.id }}" value="0">正常</button>
                    {% endif %}
                </td>
                <td>{{ moment(user.member_since).format('YYYY-MM-DD, HH:mm:ss') }}</td>
                <td>{{ moment(user.last_seen).fromNow() }}</td>
              </tr>
            {% endfor %}
       </tbody>
    </table>
</div>