{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DTS - 添加产品和版本{% endblock %}

{% block page_content %}

<div class="col-md-4">
    {{ wtf.quick_form(software) }}

    <table class="table table-hover table-striped  table-bordered table-condensed">
       <thead>
          <tr>
             <th>Num.</th>
             <th>产品名称</th>
             <th>版本名称</th>
             <th>版本描述</th>
             <th>软件版本</th>
             <th>软件特性</th>
          </tr>
       </thead>
       <tbody>
            {% for p in software_list %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ p.software.product_name }}</td>
                <td>{{ p.version_name }}</td>
                <td>{{ p.version_descrit }}</td>
                <td>{{ p.software_version }}</td>
                <td>{{ p.version_features }}</td>
              </tr>
            {% endfor %}
       </tbody>
    </table>

</div>
</div>
</div>



{% endblock %}