{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DTS - 产品列表{% endblock %}

{% block page_content %}
<div class="col-md-9">

    {% include 'mang/_productlist.html' %}
    {% if pagination %}
        <div class="pagination">
        {{ macros.pagination_widget(pagination, request.base_url) }}
        </div>
    {% endif %}

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/libs/bootstrap-table1.10.1/bootstrap-table.min.js" type="text/javascript"></script>
<link  href="/static/libs/bootstrap-table1.10.1/bootstrap-table.min.css" rel="stylesheet" type="text/css">

<script src="/static/bootstrap_table.js" type="text/javascript"></script>

<script src="/static/manager/bug_manage.js" type="text/javascript"></script>
{% endblock %}



