<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<style type="text/css">
  .btnbox{
  z-index:999;
  position:relative;
  left:400px;
  top:-350px;
}
</style>

<script src="http://127.0.0.1:8080/static/bootstrap/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
  function show(thisObj)
  {
	$(thisObj).children("div").css("display","block");
  }

  function hide(thisObj)
  {
	$(thisObj).children("div").css("display","none");
  }

  function aa(obj){
        $(obj).parent().parent().remove();
  }
</script>

</head>
<body>
    <div id="content">
       <div  onmouseover="show(this)" onmouseout="hide(this)"  style="float:left">
         <img src="img2.jpg"/>

         <div class="btnbox" style="width:170px; height:20px;" >
          <input type="button" value="testbtn1"  onclick="aa(this)"/>
         </div>

       </div>

       <div  onmouseover="show(this)" onmouseout="hide(this)"   style="float:left">
         <img src="img2.jpg"/>

         <div class="btnbox" style="width:170px; height:20px;" >
          <input type="button" value="testbtn2"  onclick="aa(this)"/>
         </div>

       <div>
    </div>
</body>
</html>