<div id="attachmentdiv">
    {% if bugs.bug_attachments %}
        {% for attach in attachments %}
           {% if attach.mimetype.find('image')==0 %}
               <p><span class="delattach">
                   <a href="{{ request.url_root }}viewlargeimage/{{ attach.symlink }}" target="_blank">
                   <img src="{{ request.url_root }}viewimage/{{ attach.symlink }}" width="50%" title={{ attach.filename }} /></a>
               </span></p>
               <hr />
           {% endif %}
        {% endfor%}
        <hr />
        {% for attach in attachments %}
         {% if attach.mimetype.find('image')!=0 %}
             <p><span class="delattach">
                 <span class="label label-info"><a href="{{ request.url_root }}down/{{ attach.symlink }}">{{ attach.filename }}</a></span>
             </span></p>
         {% endif %}
        {% endfor %}
    {% endif %}
</div>