<!-- bug 的基本显示页面，两个页面调用 standard_bug.html, bug_edit.html -->
{% import "bootstrap/wtf.html" as wtf %}

{{ form.hidden_tag() }}
<div class="table-responsive">
    <table class="table table-condensed">
       <tbody>
        <tr>
            <td>{{ wtf.form_field(form.bugs_id) }}</td>
            <td>{{ wtf.form_field(form.product_name) }}</td>
        </tr>
        <tr>
            <td>{{ wtf.form_field(form.product_version) }}</td>
            <td>{{ wtf.form_field(form.software_version) }}</td>
        </tr>
        <tr>
            <td>{{ wtf.form_field(form.version_features) }}</td>
            <td>{{ wtf.form_field(form.bug_level) }}</td>
        </tr>
        <tr>
            <td>{{ wtf.form_field(form.bug_show_times) }}</td>
            <td>{{ wtf.form_field(form.system_view) }}</td>
        </tr>
       </tbody>
    </table>

    <table class="table table-condensed">
        <tbody>
            <tr><td>{{ wtf.form_field(form.bug_title) }}</td></tr>
            <tr><td>{{ wtf.form_field(form.bug_descrit) }}</td></tr>
            <tr><td>{{ wtf.form_field(form.attachment)  }}
                <form class="form-horizontal">
                <div id="attachmentdiv">附件列表
                    <table class="table table-condensed"><tbody id="listattach">
                    </table></tbody>
                </div></td></form>
            </tr>

            <tr><td>{{ wtf.form_field(form.bug_owner_id) }}</td></tr>
            <tr><td>
                {{ wtf.form_field(form.save_crft, button_map={'save_crft': 'info'})  }}
                {{ wtf.form_field(form.submit, button_map={'submit': 'primary'})  }}</td></tr>
        </tbody>
    </table>
</div>