<li> <a href="#buginfo" class="nav-header collapsed" data-toggle="collapse">
        <i class="glyphicon glyphicon-cog"></i> 问题单信息
        Processed By: {{ bugs.author.username }}--Time at :{{ bugs.timestamp }}
        <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
        <ul id="buginfo" class="nav nav-list secondmenu collapse">
        <div class="col-md-4">
            {{ wtf.quick_form(form,horizontal_columns=('lg', 2, 20)) }}
            <p>current user {{ current_user }}</p>
            <p>bugs bugs owner user {{ bugs.bug_owner }}</p>
            <br>

            <div class="post-footer">
                {% if current_user == bugs.bug_owner %}
                    <a href="{{ url_for('.bug_process', id=bugs.id) }}">
                        <span class="label label-primary">Edit</span>
                    </a>
                {% elif current_user.is_administrator() %}
                    <a href="{{ url_for('.bug_process', id=bugs.id) }}">
                        <span class="label label-danger">Edit [Admin]</span>
                    </a>
                {% endif %}
            </div>
        </div>
        </ul>
        </li>
