
<!-- 加载pagedown的脚本 -->
<script type="text/javascript" src="/static/libs/pagedown1.0/Markdown.Converter.min.js"></script>
<script type="text/javascript" src="/static/libs/pagedown1.0/Markdown.Sanitizer.min.js"></script>


<!-- 加载autocomplete的脚本 -->
<script src="/static/libs/jquery-autocomplete1.2.24/jquery.autocomplete.min.js"></script>

<script src="/static/autocomplete/autocomplete.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="static/autocomplete/autocomplete.css">

<!-- 加载文件上传的脚本 -->
<script src="/static/upload.js" type="text/javascript"></script>
<script src="/static/check_user.js" type="text/javascript"></script>
<script src="/static/standard_bug1.js" type="text/javascript"></script>
