<li> <a href="#deveployment" class="nav-header collapsed" data-toggle="collapse">
        <i class="glyphicon glyphicon-globe"></i> 开发定位处理
        {% if developedit_log.first() %}
            Processed By: {{ developedit_log.first().operator.username }}
            --Time at :{{ moment(developedit_log.first().timestamp).format('YYYY-MM-D HH:mm:ss') }}
        {% endif %}
        <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>

<ul>
    {% if bugs.bug_status >= Bug_Now_Status.DEVELOPMENT %}
    <ul id="deveployment" class="nav nav-list secondmenu collapse in">

        <ul id="myTab" class="nav nav-tabs">
            {% if current_user == bugs.bug_owner and bugs.bug_status == Bug_Now_Status.DEVELOPMENT %}
                <li class="active">
                    <a href="#development" data-toggle="tab">当前处理</a>
                </li>
            {% endif %}

            {% for log in developedit_log %}
               <li ><a href="#{{ log.id }}" data-toggle="tab">
                 {{ log.operator.username }}</a>
               </li>
            {% endfor %}
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="development">
                {% if current_user == bugs.bug_owner and bugs.bug_status == Bug_Now_Status.DEVELOPMENT %}

                    <form method="post" class="form" role="form">
                        {{ developedit.hidden_tag() }}
                        <div id="test" style="display:block;">
                            {{ wtf.form_field(developedit.dresolve_version) }}
                            {{ wtf.form_field(developedit.dversion_features) }}
                        </div>
                        {{ wtf.form_field(developedit.deve_process_opinion) }}
                        {{ wtf.form_field(developedit.dbug_owner_id) }}
                        {{ wtf.form_field(developedit.bug_status) }}
                        {{ wtf.form_field(developedit.submit) }}
                    </form>
                {% endif %}
            </div>

            {% for log in developedit_log %}
               <div class="tab-pane fade" id={{ log.id }}>
                  <div>{{ log.opinion }}</div>
                  <hr/>
                  <lable>Processed by: {{ log.operator.username }} @
                    <i>{{ moment(log.timestamp).format('YYYY-MM-D HH:mm:ss') }}</i></lable>
               </div>
            {% endfor %}
        </div>

    </ul>
    {% endif %}
</ul>
</li>


