<li> <a href="#retest" class="nav-header collapsed" data-toggle="collapse">
        <i class="glyphicon glyphicon-bold"></i> 回归测试
        {% if bugtest_log.first() %}
            Processed By: {{ bugtest_log.first().operator.username }}
            --Time at :{{ moment(bugtest_log.first().timestamp).format('YYYY-MM-D HH:mm:ss') }}
        {% endif %}

        <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
            <ul>
            {% if bugs.bug_status >= Bug_Now_Status.TESTLEADER_REGESSION %}
            <ul id="retest" class="nav nav-list secondmenu collapse in">
                <ul id="myTab" class="nav nav-tabs">
                    {% if current_user == bugs.bug_owner and bugs.bug_status == Bug_Now_Status.TESTLEADER_REGESSION %}
                        <li class="active"><a href="#bug_test" data-toggle="tab">当前处理</a>
                        </li>
                    {% endif %}
                    {% for log in bugtest_log %}
                       <li ><a href="#{{ log.id }}" data-toggle="tab">
                         {{ log.operator.username }}</a>
                       </li>
                    {% endfor %}
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="bug_test">
                        {% if current_user == bugs.bug_owner and bugs.bug_status ==Bug_Now_Status.TESTLEADER_REGESSION %}

                            {{ wtf.quick_form(testleadedit2,horizontal_columns=('lg', 2, 20),button_map={'submit': 'primary'}) }}
                        {% endif %}
                    </div>

                    {% for log in bugtest_log %}
                       <div class="tab-pane fade" id={{ log.id }}>
                          <div>{{ log.opinion }}</div>
                          <hr/>
                          <lable>Processed by: {{ log.operator.username }} @
                            <i>{{ moment(log.timestamp).format('YYYY-MM-D HH:mm:ss') }}</i></lable>
                       </div>
                    {% endfor %}
                </div>

            </ul>
            {% endif %}
        </ul>
</li>


<li> <a href="#bugclose" class="nav-header collapsed" data-toggle="collapse">
        <i class="glyphicon glyphicon-fire"></i> 问题关闭
        {% if retest_log.first() %}
            Processed By: {{ retest_log.first().operator.username }}
            --Time at :{{ moment(retest_log.first().timestamp).format('YYYY-MM-D HH:mm:ss') }}
        {% endif %}
        <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
        <ul>
            {% if bugs.bug_status >= Bug_Now_Status.REGRESSION_TESTING %}
            <ul id="bugclose" class="nav nav-list secondmenu collapse in">
                <ul id="myTab" class="nav nav-tabs">
                    {% if current_user == bugs.bug_owner and bugs.bug_status == Bug_Now_Status.REGRESSION_TESTING %}
                        <li class="active">
                            <a href="#bug_close" data-toggle="tab">当前处理</a>
                        </li>
                    {% endif %}
                    {% for log in retest_log %}
                       <li ><a href="#{{ log.id }}" data-toggle="tab">
                         {{ log.operator.username }}</a>
                       </li>
                    {% endfor %}
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="bug_close">
                        {% if current_user == bugs.bug_owner and bugs.bug_status == Bug_Now_Status.REGRESSION_TESTING %}
                            <form method="post" class="form" role="form">
                                {{ bugclose.hidden_tag() }}
                                {{ wtf.form_field(bugclose.regression_test_version) }}
                                {{ wtf.form_field(bugclose.process_opinion) }}
                                <div id="test_leader" style="display:None;">
                                    {{ wtf.form_field(bugclose.bug_owner_id) }}
                                </div>
                                {{ wtf.form_field(bugclose.bug_status) }}
                                {{ wtf.form_field(bugclose.submit, button_map={'submit': 'primary'}) }}
                            </form>
                        {% endif %}
                    </div>

                    {% for log in retest_log %}
                       <div class="tab-pane fade" id={{ log.id }}>
                          <div>{{ log.opinion }}</div>
                          <hr/>
                          <lable>Processed by: {{ log.operator.username }} @
                            <i>{{ moment(log.timestamp).format('YYYY-MM-D HH:mm:ss') }}</i></lable>
                       </div>
                    {% endfor %}
                </div>

            </ul>
            {% endif %}
        </ul>
</li>
