{% extends "bootstrap/base.html" %}

{% block title %}DTS{% endblock %}

{% block head %}
{{ super() }}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/static/styles.css">
{% endblock %}


{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">首页</a>
            <a class="navbar-brand" href="{{ url_for('main.newbug') }}">新建问题单</a>
            <a class="navbar-brand" href="{{ url_for('reports.bugsversioncharts') }}">问题单报表</a>
            <a class="navbar-brand" href="{{ url_for('main.buglist') }}">问题单查询</a>

        </div>


        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                {% endif %}
            </ul>

            <form class="navbar-form navbar-lift" role="form" onsubmit="return dts_search()">
                <div class="form-group">
                  <input type="text" placeholder="输入问题单号" id="appendedInputButton" class="form-control" size="26" maxlength="25" >
                </div>
                <button type="submit" class="btn btn-success" onclick="open2()">查询</button>
            </form>
            <script language=javascript>
                function open2(){
                    //window.location.href="/bug_process/"+document.getElementById('appendedInputButton').value;
                    if (document.getElementById('appendedInputButton').value !=''){
                        window.open("/bug_process/"+document.getElementById('appendedInputButton').value, "_blank");
                    }
                }
                //form搜索，不提交
                function dts_search(){
                    if (document.getElementById('appendedInputButton').value !=''){
                        window.open("/bug_process/"+document.getElementById('appendedInputButton').value, "_blank");
                        return false;
                    }
                    else{
                    return false;
                    }
                }
                function test(e){
                    //回车搜索问题单，暂时不再使用
                    e = e || event;//兼容ie,chrome,FF
                    if (e.keyCode == 13){//13 是回车
                        if (document.getElementById('appendedInputButton').value !=''){
                            window.open("/bug_process/"+document.getElementById('appendedInputButton').value, "_blank");
                        }
                    }
                }
            </script>

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top: 20px;">
   <div class="row">
    <div class="col-md-2">
     <ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="height: 0px;">
      <li> <a href="/"> <i class="glyphicon glyphicon-th-large"></i> 首页 </a> </li>

      <li>
        <a href="#systemSetting" class="nav-header" data-toggle="collapse" aria-expanded="true">
            <i class="glyphicon glyphicon-cog"></i> 我的工作台
            <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
        </a>
       <ul id="systemSetting" class="nav nav-list collapse secondmenu in" >
        <li><a href="/">
            <i class="glyphicon glyphicon-user"></i>&nbsp;我的待办</a></li>
        <li><a href="{{ url_for('main.task', mytask='processed') }}">
            <i class="glyphicon glyphicon-th-list"></i>&nbsp;处理过的问题</a></li>
        <li><a href="{{ url_for('main.task', mytask='created') }}">
            <i class="glyphicon glyphicon-asterisk"></i>&nbsp;我创建的问题</a></li>
        <li><a href="{{ url_for('main.copy_to_me') }}">
            <i class="glyphicon glyphicon-edit"></i>&nbsp;抄送我的问题</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;我关注的问题</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-edit"></i>&nbsp;我修改的问题</a></li>
       </ul>
    </li>

      <li> <a href="#configSetting" class="nav-header" data-toggle="collapse" aria-expanded="true">
        <i class="glyphicon glyphicon-credit-card"></i> 问题单浏览 <span class="pull-right glyphicon  glyphicon-chevron-toggle"></span> </a>
           <ul id="configSetting" class="nav nav-list collapse secondmenu in">
            <li><a href="{{ url_for('main.buglist') }}"><i class="glyphicon glyphicon-star-empty"></i>&nbsp;问题单查询</a></li>
            <li><a href="{{ url_for('reports.productcharts') }}"><i class="glyphicon glyphicon-star"></i>&nbsp;产品问题单报表</a></li>
            <li><a href="{{ url_for('reports.bugsversioncharts') }}"><i class="glyphicon glyphicon-text-width"></i>&nbsp;版本问题单分析报表</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-ok-circle"></i>&nbsp;测试报告报表</a></li>
           </ul>
      </li>


      <li> <a href="#dicSetting" class="nav-header" data-toggle="collapse" aria-expanded="true">
          <i class="glyphicon glyphicon-bold"></i> 系统配置 <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
       <ul id="dicSetting" class="nav nav-list secondmenu collapse in">
        <li><a href="{{ url_for('mang.productlist') }}"><i class="glyphicon glyphicon-text-width"></i>&nbsp;产品列表</a></li>
        <li><a href="{{ url_for('mang.add_product') }}"><i class="glyphicon glyphicon-text-width"></i>&nbsp;添加产品和版本</a></li>
       </ul> </li>
      <li> <a href="#"> <i class="glyphicon glyphicon-fire"></i> 关于系统 <span class="badge pull-right">1</span> </a> </li>
     </ul>
    </div>


    {% block page_content %} {% endblock %}

    {% block messages %}
        <div id="flashed-messages">
            {% include 'flashed_messages.html' %}
        </div>
    {% endblock %}

    </div>
   </div>
  </div>
</div>

<!-- ...... -->
<div class="col-md-12">
    <hr />
    <p class="text-muted">Copyright ..  All Rights Reserved.</p>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<!-- 使用参数，加载本地js文件 -->
{{ moment.include_moment("2.13.0","/static/libs/moment2.13.0/moment-with-locales.min.js") }}
{{ moment.lang("zh-cn") }}
<!-- ...... {{ moment.include_moment() }}
{{ moment.lang("zh-CN") }}{{ super() }}
<!-- ...... -->
{% endblock %}
