{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
{% endblock %}


{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Flasky</a>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Home</a>
            <a class="navbar-brand" href="{{ url_for('main.newbug') }}">NewBug</a>
            <a class="navbar-brand" href="{{ url_for('main.jsontable') }}">JsonTable</a>
            <a class="navbar-brand" href="{{ url_for('main.upload') }}">Upload</a>
            <a class="navbar-brand" href="{{ url_for('main.datatable') }}">Datatable</a>
            <a class="navbar-brand" href="{{ url_for('mang.add_product') }}">Add-Product</a>
            <a class="navbar-brand" href="{{ url_for('main.charts') }}">Charts</a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
   <div class="row">
    <div class="col-md-2">
     <ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
      <li> <a href="/"> <i class="glyphicon glyphicon-th-large"></i> 首页 </a> </li>
      <li> <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse"> <i class="glyphicon glyphicon-cog"></i> 我的工作台 <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
       <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
        <li class="active"><a href="/">
            <i class="glyphicon glyphicon-user"></i>&nbsp;我的待办</a></li>

        <li><a href="{{ url_for('main.task', mytask='processed') }}">
            <i class="glyphicon glyphicon-th-list"></i>&nbsp;处理过的问题</a></li>

        <li><a href="{{ url_for('main.task', mytask='created') }}">
            <i class="glyphicon glyphicon-asterisk"></i>&nbsp;我创建的问题</a></li>

        <li><a href="{{ url_for('main.copy_to_me') }}">
            <i class="glyphicon glyphicon-edit"></i>&nbsp;抄送我的问题</a></li>

        <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;我关注的问题</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-edit"></i>&nbsp;我修改的问题</a></li>

       </ul> </li>

      <li> <a href="#configSetting" class="nav-header collapsed" data-toggle="collapse">
        <i class="glyphicon glyphicon-credit-card"></i> 问题单浏览 <span class="pull-right glyphicon  glyphicon-chevron-toggle"></span> </a>
           <ul id="configSetting" class="nav nav-list collapse secondmenu">
            <li class="active"><a href="{{ url_for('main.charts') }}"><i class="glyphicon glyphicon-globe"></i>&nbsp;问题单报表</a></li>
            <li><a href="{{ url_for('main.dailycharts') }}"><i class="glyphicon glyphicon-star-empty"></i>&nbsp;每日问题单报表</a></li>
            <li><a href="{{ url_for('main.productcharts') }}"><i class="glyphicon glyphicon-star"></i>&nbsp;版本问题单报表</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-text-width"></i>&nbsp;问题分析报表</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-ok-circle"></i>&nbsp;测试报告报表</a></li>
           </ul>
      </li>

      <li> <a href="#disSetting" class="nav-header collapsed" data-toggle="collapse">
          <i class="glyphicon glyphicon-globe"></i> 我的浏览 <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
       <ul id="disSetting" class="nav nav-list secondmenu collapse">
        <li><a href="#"><i class="glyphicon glyphicon-th-list"></i>&nbsp;分发包配置</a></li>
       </ul> </li>

      <li> <a href="#dicSetting" class="nav-header collapsed" data-toggle="collapse">
          <i class="glyphicon glyphicon-bold"></i> 系统配置 <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
       <ul id="dicSetting" class="nav nav-list secondmenu collapse">
        <li><a href="{{ url_for('mang.productlist') }}"><i class="glyphicon glyphicon-text-width"></i>&nbsp;产品列表</a></li>
        <li><a href="{{ url_for('mang.add_product') }}"><i class="glyphicon glyphicon-text-width"></i>&nbsp;添加产品和版本</a></li>
       </ul> </li>
      <li> <a href="#"> <i class="glyphicon glyphicon-fire"></i> 关于系统 <span class="badge pull-right">1</span> </a> </li>
     </ul>
    </div>


    {% block page_content %} {% endblock %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    </div>
   </div>
  </div>
</div>

<!-- ...... -->
        <div class="col-md-12">
            <hr />
            <p class="text-muted">Copyright .. 2015 Lixing0303@163.com All Rights Reserved.</p>
        </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
