{% extends "base.html" %}


{% block title %}D T S-Bug-Edit{% endblock %}

{% block page_content %}
    <div class="col-md-10">
    <ul id="myTab" class="nav nav-tabs">
       <li class="active"><a href="#bug" data-toggle="tab">问题单处理</a>
       </li>
       <li><a href="#log" data-toggle="tab">问题单日志</a></li>

    </ul>
    <div id="myTabContent" class="tab-content">
       <div class="tab-pane fade in active" id="bug">

          <ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
                  <li> <a href="#buginfo" class="nav-header collapsed" data-toggle="collapse">
                      <i class="glyphicon glyphicon-cog"></i> 问题单信息
                      Processed By: {{ bugs.author.username }}--Time at :{{ bugs.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
                      <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
                      <ul id="buginfo" class="nav nav-list secondmenu collapse in">
                      <div class="col-md-6">

                          <form  method="post" enctype="multipart/form-data">


                        {% include '_bugtable.html' %}
                          <!-- 显示问题单的图片 -->
                          <div id="attachmentdiv2">
                           {% if bugs.bug_attachments %}
                              {% for attach in attachments %}
                                  {% if attach.mimetype.find('image')==0 %}
                                      <p><span class="delattach">
                                          <a href="{{ request.url_root }}s/{{ attach.symlink }}" target="_blank">
                                          <img src="{{ request.url_root }}s/{{ attach.symlink }}" width="50%" title={{ attach.filename }} /></a>
                                          <span class="label label-info">{{ attach.filename }}</span>
                                          <button class="btn btn-warning" type="button" name= {{ attach.symlink }} >删除</button>
                                      </span></p>
                                  {% endif %}
                              {% endfor%}

                              {% for attach in attachments %}
                                {% if attach.mimetype.find('image')!=0 %}
                                    <div class="form-group ">
                                        <p><span class="delattach">
                                            <a href="{{ request.url_root }}down/{{ attach.symlink }}">{{ attach.filename }}</a>
                                            <span class="label label-info">{{ attach.filename }}</span>
                                            <button class="btn btn-warning" type="button" name= {{ attach.symlink }} >删除</button>
                                        </span></p>
                                    </div>
                                {% endif %}
                              {% endfor%}

                              {% for attach in attachlist %}
                                  {% if attach['mime'].find('image')==0 %}
                                      <p><span class="delattach">
                                          <a href="{{ request.url_root }}viewlargeimage/{{ attach['_id'] }}" target="_blank">
                                          <img src="{{ request.url_root }}viewimage/{{ attach['_id'] }}" width="50%" title={{ attach['filename'] }} /></a>
                                          <span class="label label-info">{{ attach['filename'] }}</span>
                                          <button class="btn btn-warning" type="button" name= {{ attach['_id'] }} >删除</button>
                                      </span></p>
                                  {% endif %}
                              {% endfor%}
                                <hr>
                              {% for attach in attachlist %}
                                {% if attach['mime'].find('image')!=0 %}
                                    <div class="form-group ">
                                        <p><span class="delattach">
                                            <a href="{{ request.url_root }}mongodown/{{ attach['_id'] }}">{{ attach['filename'] }}</a>
                                            <span class="label label-info">{{ attach['filename'] }}</span>
                                            <button class="btn btn-warning" type="button" name= {{ attach['_id'] }} >删除</button>
                                        </span></p>
                                    </div>
                                {% endif %}
                              {% endfor%}
                            {% endif %}

                           </div></form>
                            <br>
                          <br>
                      </div>
                      </ul>
                  </li>
               </ul>
       </div>
       <div class="tab-pane fade" id="log">
            <table class="table table-bordered">
               <caption>问题单操作日志</caption>
               <thead>
                  <tr>
                     <th>时间</th>
                     <th>操作用户</th>
                     <th>下一流程处理人</th>
                     <th>旧状态</th>
                     <th>新状态</th>
                  </tr>
               </thead>

               <tbody>
                    {% for logs in process_log %}
                        <tr>
                             <td>{{ logs.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                             <td>{{ logs.operator.username }}</td>
                             <td>{{ logs.author.username }}</td>
                             <td>{{ logs.old.bug_status_descrit }}</td>
                             <td>{{ logs.new.bug_status_descrit }}</td>
                        </tr>
                   {% endfor %}
               </tbody>
        </table>

       </div>

    </div>

    </div>

   </div>
  </div>

{% endblock %}


{% block scripts %}
{{ super() }}
{% include '_bugscripts.html' %}
{% endblock %}