{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}D T S-Bug-Process{% endblock %}

{% block page_content %}
    <div class="col-md-10">
    <ul id="myTab" class="nav nav-tabs">
       <li class="active"><a href="#bug" data-toggle="tab">问题单处理</a>
       </li>
       <li><a href="#log" data-toggle="tab">问题单日志</a></li>

    </ul>
    <div id="myTabContent" class="tab-content">
       <div class="tab-pane fade in active" id="bug">

          <ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
                  <li> <a href="#buginfo" class="nav-header collapsed" data-toggle="collapse">
                      <i class="glyphicon glyphicon-cog"></i> 问题单信息
                      Processed By: {{ bugs.author.username }}--Time at :{{ bugs.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
                      <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
                      <ul id="buginfo" class="nav nav-list secondmenu collapse">
                      <div class="col-md-4">
                          {{ wtf.quick_form(form,horizontal_columns=('lg', 2, 20)) }}

                          <!-- 显示问题单的图片 -->
                         {% if bugs.bug_photos !=None %}
                            <img src={{ request.url_root }}{{ bugs.bug_photos }} width="50%"/>
                            <p>current user {{ current_user }}</p>
                          {% endif %}
                          <!-- 调试使用，后续删除 -->
                          <p>current user {{ current_user }}</p>
                          <p>bugs bugowner user {{ bugs.bug_owner }}</p>
                          <br>
                      </div>

                        <div class="bugs-footer">
                            {% if current_user == bugs.bug_owner and bugs.now_status.id==1 %}
                                <a href="{{ url_for('.bug_edit', id=bugs.bug_id) }}">
                                    <span class="label label-primary">Edit</span>
                                </a>
                            {% elif current_user.is_administrator() %}
                                <a href="{{ url_for('.bug_edit', id=bugs.bug_id) }}">
                                    <span class="label label-danger">Edit [Admin]</span>
                                </a>
                            {% endif %}
                        </div>

                      </ul>
                  </li>
                  {% include '_testleader_edit.html' %}
                  {% include '_developer_edit.html' %}
                  {% include '_retest.html' %}
               </ul>
       </div>

       <div class="tab-pane fade" id="log">
            <table class="table table-bordered">
               <caption>问题单操作日志</caption>
               <thead>
                  <tr>
                     <th>时间</th>
                     <th>操作用户</th>
                     <th>下一流程处理人</th>
                     <th>旧状态</th>
                     <th>新状态</th>
                  </tr>
               </thead>

               <tbody>
                    {% for logs in process_log %}
                        <tr>
                             <td>{{ logs.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                             <td>{{ logs.operator.username }}</td>
                             <td>{{ logs.author.username }}</td>
                             <td>{{ logs.old.bug_status_descrit }}</td>
                             <td>{{ logs.new.bug_status_descrit }}</td>
                        </tr>
                   {% endfor %}
               </tbody>
            </table>
       </div>

    </div>

    </div>

   </div>
  </div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script type="text/javascript">
    var div=document.getElementById("test");
    $(document).ready(function () {
        $("#bug_status-0").click(function () {
            div.style.display="none";
        });
        $("#bug_status-1").click(function () {
            div.style.display="none";
        });
        $("#bug_status-2").click(function () {
            div.style.display="block";
        });
    });
</script>
{% endblock %}