{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}D T S-Bug-Process{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<html>
 <head></head>
 <body>
  <div class="container-fluid">
   <div class="row">
    <div class="col-md-2">
     <ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
      <li> <a href="#"> <i class="glyphicon glyphicon-th-large"></i> 首页 </a> </li>
      <li> <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse"> <i class="glyphicon glyphicon-cog"></i> 我的工作台 <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
       <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
        <li class="active"><a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;我的待办</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-th-list"></i>&nbsp;待处理问题</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-asterisk"></i>&nbsp;我创建的问题</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-edit"></i>&nbsp;抄送我的问题</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;我关注的问题</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-modify"></i>&nbsp;我修改的问题</a></li>
       </ul> </li>

      <li> <a href="#configSetting" class="nav-header collapsed" data-toggle="collapse"> <i class="glyphicon glyphicon-credit-card"></i> 问题单浏览 <span class="pull-right glyphicon  glyphicon-chevron-toggle"></span> </a>
       <ul id="configSetting" class="nav nav-list collapse secondmenu">
        <li class="active"><a href="#"><i class="glyphicon glyphicon-globe"></i>&nbsp;全局缺省配置</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-star-empty"></i>&nbsp;未开通用户配置</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-star"></i>&nbsp;退订用户配置</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-text-width"></i>&nbsp;试用用户配置</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-ok-circle"></i>&nbsp;开通用户配置</a></li>
       </ul> </li>
      <li> <a href="#disSetting" class="nav-header collapsed" data-toggle="collapse"> <i class="glyphicon glyphicon-globe"></i> 我的浏览 <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
       <ul id="disSetting" class="nav nav-list secondmenu collapse">
        <li><a href="#"><i class="glyphicon glyphicon-th-list"></i>&nbsp;分发包配置</a></li>
       </ul> </li>
      <li> <a href="#dicSetting" class="nav-header collapsed" data-toggle="collapse"> <i class="glyphicon glyphicon-bold"></i> 字典配置 <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
       <ul id="dicSetting" class="nav nav-list secondmenu collapse">
        <li><a href="#"><i class="glyphicon glyphicon-text-width"></i>&nbsp;关键字配置</a></li>
       </ul> </li>
      <li> <a href="#"> <i class="glyphicon glyphicon-fire"></i> 关于系统 <span class="badge pull-right">1</span> </a> </li>
     </ul>
    </div>


    <div class="col-md-10">
    <ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
    <li> <a href="#buginfo" class="nav-header collapsed" data-toggle="collapse"> <i class="glyphicon glyphicon-cog"></i> 问题单信息 <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
        <ul id="buginfo" class="nav nav-list secondmenu collapse">
        <div class="col-md-4">
            {{ wtf.quick_form(form,horizontal_columns=('lg', 2, 20)) }}
            <p>current user {{ current_user }}</p>
            <p>bugs bugowner user {{ bugs.bug_owner }}</p>
            <br>
        </div>
        </ul>
        </li>

      <li> <a href="#bug_audit" class="nav-header collapsed" data-toggle="collapse"> <i class="glyphicon glyphicon-credit-card"></i> 测试经理审核 <span class="pull-right glyphicon  glyphicon-chevron-toggle"></span> </a>
        <ul>
            {% if bugs.bug_status =='2' and current_user == bugs.bug_owner %}
                <ul id="bug_audit" class="nav nav-list collapse secondmenu in">
                <p>测试经理审核</p>
                {{ wtf.quick_form(testleadedit,horizontal_columns=('lg', 2, 20)) }}
                </ul>
            {% else %}
                {{ bugs.bug_status }}
            {% endif %}
       </ul> </li>

      <li> <a href="#deveployment" class="nav-header collapsed" data-toggle="collapse"> <i class="glyphicon glyphicon-globe"></i> 开发定位处理 <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
        <ul>
            {% if bugs.bug_status =='3' and current_user == bugs.bug_owner %}
                <ul id="deveployment" class="nav nav-list secondmenu collapse in">
                <p>开发定位处理</p>
                {{ wtf.quick_form(developedit,horizontal_columns=('lg', 2, 20)) }}
                </ul>
            {% else %}
                {{ bugs.bug_status }}
            {% endif %}
        </ul>
       </li>

      <li> <a href="#retest" class="nav-header collapsed" data-toggle="collapse"> <i class="glyphicon glyphicon-bold"></i> 回归测试 <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
            <ul>
                {% if bugs.bug_status =='4' and current_user == bugs.bug_owner %}
                    <ul id="retest" class="nav nav-list secondmenu collapse in">
                    <p>回归测试</p>
                    {{ wtf.quick_form(testleadedit2,horizontal_columns=('lg', 2, 20)) }}
                    </ul>
                {% else %}
                    {{ bugs.bug_status }}
                {% endif %}
        </ul>
       </li>

    <li> <a href="#bugclose" class="nav-header collapsed" data-toggle="collapse"> <i class="glyphicon glyphicon-fire"></i> 问题关闭 <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
            <ul>
                {% if bugs.bug_status =='5' and current_user == bugs.bug_owner %}
                    <ul id="bugclose" class="nav nav-list secondmenu collapse in">
                     <p>问题关闭</p>
                    {{ wtf.quick_form(bugclose,horizontal_columns=('lg', 2, 20)) }}
                    </ul>
                {% else %}
                    {{ bugs.bug_status }}
                {% endif %}
           </ul> </li>

     </ul>
    </div>
   </div>
  </div>
 </body>
</html>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}