{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}D T S-Bug-Process{% endblock %}

{% block page_content %}
    <div class="col-md-10">
    <ul id="myTab" class="nav nav-tabs">
       <li class="active"><a href="#bug" data-toggle="tab">问题单处理</a>
       </li>
       <li><a href="#log" data-toggle="tab">问题单日志</a></li>

    </ul>
    <div id="myTabContent" class="tab-content">
       <div class="tab-pane fade in active" id="bug">

          <ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
                  <li> <a href="#buginfo" class="nav-header collapsed" data-toggle="collapse">
                      <i class="glyphicon glyphicon-cog"></i> 问题单信息
                      Processed By: {{ bugs.author.username }}--Time at :{{ moment(bugs.timestamp).format('YYYY-MM-D HH:mm:ss') }}
                      <span class="pull-right glyphicon glyphicon-chevron-toggle"></span> </a>
                      <ul id="buginfo" class="nav nav-list secondmenu collapse">
                      <div class="col-md-4">
                          {{ wtf.quick_form(form,horizontal_columns=('lg', 2, 20)) }}

                         <!-- 显示问题单的图片 -->
                         {% if bugs.bug_attachments %}
                            {% for attach in attachments %}
                                <p>
                                    <a href="{{ request.url_root }}uploads/{{ attach.filehash }}" target="_blank">
                                    <img src="{{ request.url_root }}uploads/{{ attach.filehash }}" width="50%" title={{ attach.filename }} /></a>
                                    <!-- 显示问题单的图片
                                    <img src="{{ url_for('main.uploaded_file', filehash= attach.filehash  ) }}" width="30%" title={{ attach.filename }} />
                                    -->
                                </p>
                            {% endfor%}
                          {% endif %}
                          <br>
                      </div>

                        <div class="bugs-footer">
                            {% if current_user == bugs.author and bugs.status_equal(Bug_Now_Status.CREATED) %}
                                <a href="{{ url_for('.bug_edit', id=bugs.bug_id) }}">
                                    <span class="label label-primary">Edit</span>
                                </a>
                            {% elif current_user.is_administrator() %}
                                <a href="{{ url_for('.bug_edit', id=bugs.bug_id) }}">
                                    <span class="label label-danger">Edit [Admin]</span>
                                </a>
                            {% endif %}
                        </div>

                      </ul>
                  </li>
                  {% include '_testleader_edit.html' %}
                  {% include '_developer_edit.html' %}
                  {% include '_retest.html' %}
               </ul>
       </div>

       <div class="tab-pane fade" id="log">
            <table class="table table-bordered">
               <caption>问题单操作日志</caption>
               <thead>
                  <tr>
                     <th>时间</th>
                     <th>操作用户</th>
                     <th>下一流程处理人</th>
                     <th>旧状态</th>
                     <th>新状态</th>
                  </tr>
               </thead>

               <tbody>
                    {% for logs in process_log %}
                        <tr>
                             <td>{{ moment(logs.timestamp).format('YYYY-MM-D HH:mm:ss') }}</td>
                             <td>{{ logs.operator.username }}</td>
                             <td>{{ logs.author.username }}</td>
                             <td>{{ logs.old.bug_status_descrit }}</td>
                             <td>{{ logs.new.bug_status_descrit }}</td>
                        </tr>
                   {% endfor %}
               </tbody>
            </table>
       </div>

    </div>

    </div>

   </div>
  </div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


<script type="text/javascript">
    var div=document.getElementById("test");
    $(document).ready(function () {
        $("#bug_status-0").click(function () {
            div.style.display="none";
        });
        $("#bug_status-1").click(function () {
            div.style.display="none";
        });
        $("#bug_status-2").click(function () {
            div.style.display="block";
        });
    });
    var div=document.getElementById("test_leader");
    $(document).ready(function () {
        $("#bug_status-0").click(function () {
            div.style.display="none";
        });
        $("#bug_status-1").click(function () {
            div.style.display="block";
        });
    });
</script>


<script src="//cdn.bootcss.com/jquery.devbridge-autocomplete/1.2.24/jquery.autocomplete.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='autocomplete/autocomplete.css')}}">
<script src="{{ url_for('static', filename='autocomplete/autocomplete.js')}}" type="text/javascript"></script>

<script src="{{ url_for('static', filename='check_user.js')}}" type="text/javascript"></script>
{% endblock %}