{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}D T S{% endblock %}

{% block page_content %}

<div class="col-md-9">
     <div class="btn-group btn-group-lg" role="group" aria-label="...">
      <a herf="{{ url_for('main.newbug') }}">
      <button type="button" class="btn btn-primary">标准流程</button></a>
      <button type="button" class="btn btn-info">简易流程</button>
      <button type="button" class="btn btn-default">Right5</button>
     </div>
    <hr>
    <div class="btn-group btn-group-lg">
       <button type="button" class="btn btn-default">选择列</button>
       <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">切换下拉菜单</span>
       </button>
       <ul class="dropdown-menu" role="menu">
          <li><a href="#">功能</a></li>
          <li><a href="#">另一个功能</a></li>
          <li><a href="#">其他</a></li>
          <li class="divider"></li>
          <li><a href="#">分离的链接</a></li>
       </ul>

    <div class="btn-group btn-group-lg">
       <button type="button" class="btn btn-primary">导出数据</button>
       <button type="button" class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">切换下拉菜单</span>
       </button>
       <ul class="dropdown-menu" role="menu">
          <li><a href="#">功能</a></li>
          <li><a href="#">另一个功能</a></li>
          <li><input type="text" class="form-control"></input></li>
          <li class="divider"></li>
          <li><a href="#">分离的链接</a></li>
        </ul>
    </div>
    <div class="row">
       <form class="bs-example bs-example-form" role="form">
        <div class="input-group">
           <input type="text" class="form-control">
           <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                 Go!
              </button>
           </span>
        </div><!-- /input-group -->
       </form><!-- bs-example -->
    </div>
    <hr>

<div>
    <table id="datatable" class="table table-bordered">
           <thead>
              <tr>
                 <th><input type="checkbox"></input></th>
                 <th>Num.</th>
                 <th>BugsID</th>
                 <th>产品名称</th>
                 <th>产品版本</th>
                 <th>软件版本</th>
                 <th>问题级别</th>
                 <th>出现频率</th>
                 <th>问题单描述</th>
                 <th>提交人</th>
                 <th>问题状态</th>
                 <th>当前处理人</th>
                 <th>创建时间</th>
              </tr>
           </thead>
           <tbody></tbody>
           <tfoot>
            <tr>
             <th><input type="checkbox"></input></th>
             <th>Num.</th>
             <th>BugsID</th>
             <th>产品名称</th>
             <th>产品版本</th>
             <th>软件版本</th>
             <th>问题级别</th>
             <th>出现频率</th>
             <th>问题单描述</th>
             <th>提交人</th>
             <th>问题状态</th>
             <th>当前处理人</th>
             <th>创建时间</th>
            </tr>
            </tfoot>
    </table>
</div>


    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.myjson') }}
    </div>
    {% endif %}


{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.7/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.bootcss.com/datatables/1.10.10/js/jquery.dataTables.min.js"></script>
<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/datatables/1.10.10/js/dataTables.bootstrap.min.js">




<script src="static/datatable.js" type="text/javascript"></script>
{% endblock %}

