{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}D T S{% endblock %}

{% block page_content %}

<div class="col-md-9">

    <div class="btn-group btn-group-lg">

    </div>

    <hr>

    {% include '_buglist.html' %}

    {% if pagination %}
        <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}


{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(function(){
        $('tbody>tr').click(function(){
        if($(this).hasClass('selected')){
        $(this).removeClass('selected').find(':checkbox').attr('checked',false);
        }else{
        $(this).addClass('selected').find(':checkbox').attr('checked',true);
        }
        })
    })
</script>
{% endblock %}
