{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}D T S{% endblock %}

{% block page_content %}
<div class="col-md-9">

        {% include '_buglist.html' %}
        {% if pagination %}
        <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.css" rel="stylesheet">
<script src="{{ url_for('static', filename='bootstrap_table.js')}}" type="text/javascript"></script>
{% endblock %}

