{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}D T S{% endblock %}

{% block page_content %}
<div class="col-md-4">

    <form action="newbugs" method="post" enctype="multipart/form-data">
        {{form.product_name.label  }}{{form.product_name()  }}
        {{form.product_version.label  }}{{form.product_version()  }}
        {{form.software_version.label  }}{{form.software_version()  }}
        {{form.bug_level.label  }}{{form.bug_level()  }}
        {{form.system_view.label  }}{{form.system_view()  }}
        {{form.bug_show_times.label  }}{{form.bug_show_times()  }}
        {{form.bug_title.label  }}{{form.bug_title()  }}
        {{form.bug_descrit.label  }}{{form.bug_descrit()  }}
        {{form.bug_owner_id.label  }}{{form.bug_owner_id()  }}
        {{form.bug_status.label  }}{{form.bug_status()  }}
        {{form.photo()  }}
        {{form.submit()  }}
    </form>

    <br>

</div>
{% endblock %}


