{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}D T S-New Bug{% endblock %}

{% block page_content %}
<div class="col-md-4">

    <form action="newbugs" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.form_field(form.product_name) }}
        {{ wtf.form_field(form.product_version) }}
        {{ wtf.form_field(form.software_version) }}
        {{ wtf.form_field(form.version_features) }}
        {{ wtf.form_field(form.bug_level) }}
        {{ wtf.form_field(form.system_view) }}
        {{ wtf.form_field(form.bug_show_times) }}
        {{ wtf.form_field(form.bug_title) }}
        {{ wtf.form_field(form.bug_descrit) }}
        {{ wtf.form_field(form.bug_owner_id) }}
        {{ wtf.form_field(form.bug_status) }}
        {{ wtf.form_field(form.photo)  }}
        {{ wtf.form_field(form.submit)  }}
    </form>
    <br>

    <h1>jQuery Example</h1>
    <p><input type=text size=5 name=a> +
       <input type=text size=5 name=b> =
       <span id=result>?</span>
    <p><a href=# id=calculate>calculate server side</a>

    <span id=resultjson>?</span>
    <input type=text size=5 name=a id=calculate2>

</div>
</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}

<script src="static/check_user.js" type="text/javascript"></script>
<script src="static/standard_bug1.js" type="text/javascript"></script>
{% endblock %}



