
<table class="table table-bordered">
       <thead>
          <tr>
             <th><input type="checkbox"></input></th>
             <th>Num.</th>
             <th>BugsID</th>
             <th>产品名称</th>
             <th>产品版本</th>
             <th>软件版本</th>
             <th>问题级别</th>
             <th>出现频率</th>
             <th>问题单描述</th>
             <th>提交人</th>
             <th>问题状态</th>
             <th>当前处理人</th>
             <th>创建时间</th>
          </tr>
       </thead>
       <tbody id="buglist">
       </tbody>
    </table>


<span id=test>?</span>


<h1>jQuery Example</h1>
<p><input type=text size=5 name=a1> +
   <input type=text size=5 name=b1> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>

<p>
    <input type=text size=5 name=a> +
    <input type=text size=5 name=b> =
    <span id=result5>?</span>
</p>

<span id=result6>?</span>
<p><input type="button" id="test" value="计算"></p>

<div id="example1"></div>


<p><input type="button" id="get_json" value="BUG_JSON"></p>

