

<table class="table table-bordered">
       <thead>
          <tr>
             <th><input type="checkbox"></input></th>
             <th>Num.</th>
             <th>BugsID</th>
             <th>产品名称</th>
             <th>产品版本</th>
             <th>软件版本</th>
             <th>问题级别</th>
             <th>出现频率</th>
             <th>问题单描述</th>
             <th>提交人</th>
             <th>问题状态</th>
             <th>当前处理人</th>
             <th>创建时间</th>
          </tr>
       </thead>
       <tbody id="buglist">
       </tbody>
</table>

<div id="Pagination" class="right flickr">
</div>

<span id=test>?</span>


<h1>jQuery Example</h1>
<p><input type=text size=5 name=a1> +
   <input type=text size=5 name=b1> =
   <span id=result>?</span>

<p><a href=# id=calculate>calculate server side</a>

<span id=result3>????</span>
<p><a href=# id=calculate2>get page 2</a>



<div class="pagination">
    <ul class="pagination">
    <li> <a href=# id="page1">1</a> </li>
    <li> <a href=# id="page2">2</a> </li>
    </ul>
</div>

